<a href="https://colab.research.google.com/github/bokbokobama/yellowcab/blob/main/yellowcab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# source: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
import pandas as pd
from tqdm import tqdm
df = pd.DataFrame()

# Creates a list of every month from January 2009 to June 2022, in a format which mathes the data download link.
minMonth = '2018-01'
maxMonth = '2019-01'
urlList = pd.date_range(minMonth, maxMonth, freq='MS').strftime("%Y-%m").tolist() # min '2009-01', max '2022-06', default '2022-01', '2022-06'

# Creates a dataframe by combining the datasets of all selected months
for month in tqdm(range(len(urlList[:-1]))):
  df = df.append(pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_' + urlList[month] + '.parquet',
                                 columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'trip_distance', 'fare_amount', 'tip_amount', 'total_amount']),
                                 ignore_index = True)
  pass
print('Successfully created dataframe')
df

100%|██████████| 12/12 [00:32<00:00,  2.71s/it]

Successfully created dataframe

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,tip_amount,total_amount
0,2018-01-01 00:21:05,2018-01-01 00:24:23,0.50,4.50,0.00,5.80
1,2018-01-01 00:44:55,2018-01-01 01:03:05,2.70,14.00,0.00,15.30
2,2018-01-01 00:08:26,2018-01-01 00:14:21,0.80,6.00,1.00,8.30
3,2018-01-01 00:20:22,2018-01-01 00:52:51,10.20,33.50,0.00,34.80
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2.50,12.50,2.75,16.55
...,...,...,...,...,...,...
102871382,2018-12-31 23:25:00,2018-12-31 23:40:00,9.32,0.00,10.00,0.00
102871383,2018-12-31 23:04:00,2018-12-31 23:30:00,9.06,28.95,0.00,32.50
102871384,2018-12-31 23:02:00,2018-12-31 23:35:00,11.70,51.05,0.00,54.60
102871385,2018-12-31 23:17:00,2018-12-31 23:43:00,7.82,23.19,0.00,32.50
102871386,2018-12-31 23:01:26,2018-12-31 23:43:42,9.92,34.74,0.00,41.30

In [ ]:
df["trip_time"] = (df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"])
df["average_speed"] = ((3600 * df["trip_distance"]) / (df["trip_time"].dt.total_seconds()))
df['trip_date'] = df['tpep_pickup_datetime'].map(lambda dt: dt.strftime('%Y-%m-%d'))
df

In [ ]:
grouped_df = df[ (df['trip_date'] >= minMonth) & (df['trip_date'] < maxMonth) ].groupby('trip_date').size().to_frame("count").reset_index()
grouped_df.plot(kind='line', x='trip_date', y='count')

In [ ]:
#!pip install --upgrade geopandas
#import geopandas as gpd
#import matplotlib as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.2.1)